---
import HeaderOrderButton from "./HeaderOrderButton.astro";
import MenuToggleButton from "./MenuToggleButton.astro";
---

<div
  id="top-menu-bar"
  class="absolute top-0 left-0 right-0 z-[100] flex h-14 md:h-16 items-center justify-end gap-2 px-4 md:px-6 transition-opacity duration-300"
>
  <HeaderOrderButton />
  <MenuToggleButton toggleId="top-menu-toggle" labelId="top-menu-label" iconId="top-menu-icon" />
</div>
